<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= store.rut %>
  </p>

  <p>
    <strong>Street name:</strong>
    <%= store.street_name %>
  </p>

  <p>
    <strong>Ext number:</strong>
    <%= store.ext_number %>
  </p>

  <p>
    <strong>Int number:</strong>
    <%= store.int_number %>
  </p>

  <p>
    <strong>Geolocation:</strong>
    <%= store.geolocation %>
  </p>

  <p>
    <strong>Business name:</strong>
    <%= store.business_name %>
  </p>

  <p>
    <strong>Admin user:</strong>
    <%= store.admin_user_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= store.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= store.status %>
  </p>

</div>
